sdk_names:
  model_name: amp
ignore:
  resource_names:
    - LoggingConfiguration
  field_paths:
    - CreateWorkspaceInput.ClientToken
    - CreateRuleGroupsNamespaceInput.ClientToken
    - CreateRuleGroupsNamespaceInput.WorkspaceId
    - DeleteRuleGroupsNamespaceInput.WorkspaceId
    - CreateAlertManagerDefinitionInput.ClientToken
    - CreateAlertManagerDefinitionInput.WorkspaceId
    - DeleteAlertManagerDefinitionInput.WorkspaceId
resources:
  Workspace:
    fields:
      PrometheusEndpoint:
        is_read_only: true
        from:
          operation: DescribeWorkspace
          path: Workspace.PrometheusEndpoint
    exceptions:
      errors:
        404:
          code: ResourceNotFoundException
