/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.registry

# ignore GoLand files (debug config etc...)
/.idea

# ignore vscode files (debug config etc...)
/.vscode

# ignore asdf local versions
/.tool-versions

