ignore:
  resource_names:
    - StateMachineAlias
  field_paths:
    - CreateStateMachineInput.RoleArn
    - CreateStateMachineInput.Type # its jsontag is type_ in SDK and we don't want that.
resources:
  StateMachine:
    exceptions:
      errors:
        404:
          code: StateMachineDoesNotExist
  Activity:
    exceptions:
      errors:
        404:
          code: ActivityDoesNotExist