ignore:
  resource_names:
    - AccountAttribute
    - CapacityReservation
    - CarrierGateway
    - ClientVpnEndpoint
    - ClientVpnRoute
    - CoipPool
    - CustomerGateway
    - DefaultSubnet
    - DefaultVpc
    - EgressOnlyInternetGateway
    - Fleet
    - FpgaImage
    - Image
    - Instance
    - InstanceExportTask
    - InternetGateway
    - KeyPair
    - LocalGatewayRouteTableVpcAssociation
    - LocalGatewayRoute
    - ManagedPrefixList
    - NatGateway
    - NetworkAclEntry
    - NetworkAcl
    - NetworkInsightsPath
    - NetworkInterfacePermission
    - NetworkInterface
    - PlacementGroup
    - ReservedInstancesListing
    - RouteTable
    - SecurityGroup
    - Snapshot
    - SpotDatafeedSubscription
    - Subnet 
    - TrafficMirrorFilterRule
    - TrafficMirrorFilter
    - TrafficMirrorSession
    - TrafficMirrorTarget
    - TransitGatewayConnectPeer
    - TransitGatewayConnect
    - TransitGatewayMulticastDomain
    - TransitGatewayPeeringAttachment
    - TransitGatewayPrefixListReference
    - TransitGatewayRouteTable
    - TransitGatewayRoute
    - VpcEndpointConnectionNotification
    - VpcEndpointServiceConfiguration
    - Vpc
    - VpcCidrBlock
    - VpnConnectionRoute
    - VpnConnection
    - VpnGateway
  shape_names:
    - Instance
  field_paths:
    - CreateVpcPeeringConnectionInput.DryRun
    - DeleteVpcPeeringConnectionInput.DryRun
    - RejectVpcPeeringConnectionInput.DryRun
    - AcceptVpcPeeringConnectionInput.DryRun
    - CreateVpcPeeringConnectionInput.VPCID
    - DeleteVpcPeeringConnectionInput.VPCID
    - RejectVpcPeeringConnectionInput.VPCID
    - AcceptVpcPeeringConnectionInput.VPCID
    - CreateVpcPeeringConnectionInput.PeerVPCID
    - DeleteVpcPeeringConnectionInput.PeerVPCID
    - RejectVpcPeeringConnectionInput.PeerVPCID
    - AcceptVpcPeeringConnectionInput.PeerVPCID
    - CreateVolumeInput.DryRun
    - CreateVolumeInput.KmsKeyId
    - CreateTransitGatewayInput.DryRun
    - DeleteTransitGatewayInput.DryRun
    - DescribeTransitGatewaysInput.DryRun
    - CreateTransitGatewayVpcAttachmentInput.DryRun
    - DeleteTransitGatewayVpcAttachmentInput.DryRun
    - DescribeTransitGatewayVpcAttachmentsInput.DryRun
    - RejectTransitGatewayVpcAttachmentInput.DryRun
    - AcceptTransitGatewayVpcAttachmentInput.DryRun
    - ModifyTransitGatewayVpcAttachmentInput.DryRun
    - CreateTransitGatewayVpcAttachmentInput.VpcId
    - CreateTransitGatewayVpcAttachmentInput.SubnetIds
    - CreateTransitGatewayVpcAttachmentInput.TransitGatewayId
    - ModifyTransitGatewayOptions.PropagationDefaultRouteTableId
    - ModifyTransitGatewayOptions.AssociationDefaultRouteTableId
    - ModifyTransitGatewayOptions.AddTransitGatewayCidrBlocks
    - ModifyTransitGatewayOptions.RemoveTransitGatewayCidrBlocks
    - CreateRouteInput.DryRun
    - CreateRouteInput.NatGatewayId
    - CreateRouteInput.TransitGatewayId
    - CreateRouteInput.VpcPeeringConnectionId
    - CreateRouteInput.RouteTableId
    - CreateRouteInput.InstanceId
    - CreateRouteInput.GatewayId
    - CreateVpcEndpointInput.VpcId
    - ModifyVpcEndpointInput.VpcId
    - DeleteVpcEndpointInput.VpcId
    - CreateVpcEndpointInput.SubnetIds
    - CreateVpcEndpointInput.SecurityGroupIds
    - CreateVpcEndpointInput.DryRun
    - CreateVpcEndpointInput.RouteTableIds
    - Subnet.AvailableIpAddressCount
    - CreateLaunchTemplateVersionInput.LaunchTemplateId
    - DeleteLaunchTemplateVersionInput.LaunchTemplateId
    - CreateLaunchTemplateVersionInput.LaunchTemplateName
    - DeleteLaunchTemplateVersionInput.LaunchTemplateName
    - CreateLaunchTemplateVersionInput.DryRun
    - CreateLaunchTemplateVersionInput.ClientToken
    - CreateLaunchTemplateInput.DryRun
    - CreateLaunchTemplateInput.ClientToken
resources:
  Volume:
    exceptions:
      errors:
        404:
          code: InvalidVolume.NotFound
  LaunchTemplate:
    exceptions:
      errors:
        404:
          code: InvalidLaunchTemplateName.NotFoundException
  LaunchTemplateVersion:
    exceptions:
      errors:
        404:
          code: InvalidLaunchTemplateId.VersionNotFound
