
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: providers.aws.crossplane.io
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.region
    name: REGION
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: AGE
    type: date
  - JSONPath: .spec.credentialsSecretRef.name
    name: SECRET-NAME
    priority: 1
    type: string
  group: aws.crossplane.io
  names:
    categories:
    - crossplane
    - provider
    - aws
    kind: Provider
    listKind: ProviderList
    plural: providers
    singular: provider
  scope: Cluster
  subresources: {}
  validation:
    openAPIV3Schema:
      description: A Provider configures an AWS 'provider', i.e. a connection to a
        particular AWS account using a particular AWS IAM role.
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: A ProviderSpec defines the desired state of a Provider.
          properties:
            credentialsSecretRef:
              description: CredentialsSecretRef references a specific secret's key
                that contains the credentials that are used to connect to the provider.
              properties:
                key:
                  description: The key to select.
                  type: string
                name:
                  description: Name of the secret.
                  type: string
                namespace:
                  description: Namespace of the secret.
                  type: string
              required:
              - key
              - name
              - namespace
              type: object
            region:
              description: Region for managed resources created using this AWS provider.
              type: string
            useServiceAccount:
              description: "UseServiceAccount indicates to use an IAM Role associated
                Kubernetes ServiceAccount for authentication instead of a credentials
                Secret. https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html
                \n If set to true, credentialsSecretRef will be ignored."
              type: boolean
          required:
          - region
          type: object
      required:
      - spec
      type: object
  version: v1alpha3
  versions:
  - name: v1alpha3
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
