# Added +immutable to all Namespace fields (Name, Region, VPC, Tags), because
# the AWS Servicediscovery API does not provide an update interface
ignore:
  field_paths:
    - CreatePrivateDnsNamespaceInput.Vpc
    - CreateHttpNamespaceInput.CreatorRequestId
    - CreatePrivateDnsNamespaceInput.CreatorRequestId
    - CreatePublicDnsNamespaceInput.CreatorRequestId
  #resource_names:
  #  - Service

resources:
  Service:
    exceptions:
      errors:
        404:
          code: ServiceNotFound