model_name: elasticloadbalancingv2
ignore:
  field_paths:
    - CreateListenerInput.LoadBalancerArn
    - CreateListenerInput.DefaultActions
    - CreateListenerInput.Certificates
    # Type has a json key of type_, so it's reimplemented with loadBalancerType
    - CreateLoadBalancerInput.Type
  resource_names:
    - Rule
resources:
  Listener:
    exceptions:
      errors:
        404:
          code: ListenerNotFound
  LoadBalancer:
    exceptions:
      errors:
        404:
          code: LoadBalancerNotFound
  TargetGroup:
    exceptions:
      errors:
        404:
          code: TargetGroupNotFound
operations:
  CreateLoadBalancer:
    output_wrapper_field_path: LoadBalancers
  CreateListener:
    output_wrapper_field_path: Listeners
  CreateTargetGroupOutput:
    output_wrapper_field_path: TargetGroups
